@include 'components/header.html'
<div class="content">
    <div class="about">
        <p>
            I started my programming journey when I was very young, and yet, already interested in how video games
            worked. Regularly, I would make small creations using the ROBLOX engine. Although not very successful, I
            kept this passion, even when I ingressed university.
        </p>
        <p>
            Having participated in game jams and developed some game prototypes, I was very happy to fulfill my passion.
            However, when I attempted a job at a gaming company, I realised the professional side of this was not for me
            and so I decided to further explore other sides of computing.
        </p>
        <p>
            In the past few years, I have learned a lot: I built websites with varied stacks (PHP, JS, Python);
            developed multi-purpose ML applications (Python, Java, JS); created games and graphical libraries (Unity,
            WebGL); worked in low-level environemts and studied drivers and protocols (C/C++, Rust).
            More importantly, I did not limit my learning to only technical knowledge, I also practised project and
            enterprise management.
        </p>
        <p>
            Since 2020, I have been the busiest. I participated in Erasmus+ in Slovakia, having the opportunity to meet
            a lot of new people from around the world, learning new languages, and developing my independence and
            personality. In 2021, I started working at BizzTap as a Backend Developer, working in a Node.js+React stack
            and developing their API and ElasticSearch database.
        </p>
        <p>
            After that, I joined INEGI, mainly to develop my Master's Thesis in the application of <a
                href="https://hdl.handle.net/10216/145150">Augmented Reality in Industrial Equipment</a>. I am currently
            still working in the output product of this study as well as leading the reasearch and developments of the
            digitalization team.
        </p>
    </div>
</div>
@include 'components/footer.html'