@include 'components/header.html'
<div class="content">
    <div class="top">
        <h1 class="title"> Hello, I'm João Campos </h1>
        <p class="intro">
            This is my personal web site. This is my personal web site. This is my personal web site. This is my
            personal web site. This is my personal web site. This is my personal web site. This is my personal web site.
            This is my personal web site. This is my personal web site.
        </p>
    </div>

</div>
@include 'components/footer.html'