h1.title {
    font-family: Arial, Helvetica, sans-serif;
    color: #3b7bbf;
}

div#content {
    height: 100%;
    width: 100%;
    gap: 3em;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}

div#cover {
    width: 25%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, rgba(98,133,154,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 1em;
}

button#play_btn {
    padding: 0.5em;
}

div#controls_box {
    width: 25%;
}

div#controls_box > * {
    width: 100%;
}

div#controls {
    display: flex;
    justify-content: space-between;
}