div.content {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.top {
    height: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.intro {
    width: 25%;
    text-align: center;
}

div#player {
    height: 100%;
    width: 25%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#header {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bolder;
}

div#cover {
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, darkgray 0%, gray 100%);
    border-radius: 1em;
    overflow: hidden;
}

div#cover img{
    width: 100%;
    object-fit: cover;
}

button#play_btn {
    padding: 0.5em;
}

progress#playtime {
    width: 100%;
    margin-bottom: 0.5em;
}

div#controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}