body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topnav {
    width: 512px;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 512px;
    margin-bottom: 2em;
    color: rgb(47, 49, 70)
}

.footer a {
    text-decoration: none;
    color: rgb(47, 49, 70)
}

.footer a:hover {
    color: darkblue;
}

.topnav-btn {
    min-width: 5em;
    padding: 0.1em;
    font-size: larger;
}

.content {
    width: 100%;
    flex-grow: 1;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro {
    width: 512px;
    text-align: center;
}

#player {
    height: 100%;
    width: 512px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bolder;
}

#cover {
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, darkgray 0%, gray 100%);
    border-radius: 1em;
    overflow: hidden;
}

#cover img {
    width: 100%;
    object-fit: cover;
}

#play_btn {
    padding: 0.5em;
}

#playtime {
    width: 100%;
    margin-bottom: 0.5em;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}