body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

[class*="fx-"] {
    display: flex;
}

.fx-row {
    flex-direction: row;
}

.fx-col {
    flex-direction: column;
}

.fx-main {
    justify-content: center;
}

.fx-cross {
    align-items: center;
}

.fx-btwn {
    justify-content: space-between;
}

.center-text {
    text-align: center;
}

.m-1 {
    margin: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.topnav {
    width: 512px;
}

.footer {
    width: 512px;
    color: #0C0C0C
}

a {
    font-style: oblique;
    text-decoration: none;
    color: #5C5C5C
}

a:hover {
    color: #5C0C0C
}

.topnav-btn {
    min-width: 5em;
    padding: 0.1em;
    font-size: larger;
}

.content {
    width: 100%;
    flex-grow: 1;
}

.top {
    height: 100%;
    gap: 1em;
}

.intro {
    width: 512px;
    text-align: center;
}

.about {
    height: 700px;
    width: 512px;
    text-align: justify;
}

#player {
    height: 100%;
    width: 512px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bolder;
}

#cover {
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, darkgray 0%, gray 100%);
    border-radius: 1em;
    overflow: hidden;
}

#cover img {
    width: 100%;
    object-fit: cover;
}

#play_btn {
    padding: 0.5em;
}

#playtime {
    width: 100%;
    margin-bottom: 0.5em;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}